<div class="grid">
    <div class="col-12">
        <p-card>

            <ng-template pTemplate="header">
                <ui-page-title title="Tur Kategorileri" [pageCode]="pageCode"
                               [showBack]="false"></ui-page-title>
            </ng-template>

            <ng-content select="[toolbar]"></ng-content>

            <p-table
                dataKey="id"
                styleClass="p-datatable-striped"
                selectionMode="single"
                [id]="pageCode + '_list'"
                [value]="list"
                [paginator]="true"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="list?.length"
                [(selection)]="selectedModel"
                (onRowSelect)="onRowSelect()"
                (onRowUnselect)="onRowUnSelect()"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="companyId" style="width: 35%">
                            Şirket
                            <p-sortIcon field="companyId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name" style="width: 50%">
                            Tur Kategori Adı
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="active" style="width: 15%">
                            Aktif
                            <p-sortIcon field="active"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td style="width: 35%">{{ item.companyName }}</td>
                        <td style="width: 50%">{{ item.name }}</td>
                        <td style="width: 50%">{{ item.active }}</td>
                        <!--                        <td style="width: 15%">
                                                    <ui-active-inactive-tags [tagValue]="item.active"></ui-active-inactive-tags>
                                                </td>-->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="3">Kayıt Bulunamadı</td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>
