<div>
    <app-tour-category-list (onRowSelectEvent)="onRowSelect()" (onRowUnselectEvent)="onRowUnselect()">
        <p-toolbar toolbar class="flex justify-content-end" styleClass="pr-0 pl-0 pt-0">
            <div>
                <button [id]="'add'" pButton [label]="'Ekle'" class="mr-2" (click)="onAdd()">

                </button>
                <button [id]="'copy'" pButton [label]="'Kopyala'" class="mr-2 p-button-outlined" (click)="onCopy()"
                        [disabled]="!listComponent?.selectedModel">

                </button>
                <button [id]="'edit'" pButton [label]="'Düzenle'" class="mr-2 p-button-outlined" (click)="onEdit()"
                        [disabled]="!listComponent?.selectedModel">

                </button>
                <button [id]="'delete'" pButton [label]="'Sil'" class="mr-2 p-button-outlined" (click)="onDelete()"
                        [disabled]="!listComponent?.selectedModel">

                </button>
            </div>
        </p-toolbar>
    </app-tour-category-list>
</div>

<ui-sidebar [display]="formMode !== FormMode.NONE">
    <div modelForm>
        <div class="grid">
            <ui-page-title class="col" title="Tur Kategorisi"></ui-page-title>
        </div>
        <form [formGroup]="form" [id]="'formTurKategori'">
            <div class="p-fluid formgrid grid">

                <div class="col-12">
                    <label htmlFor="name1">Şirket</label>
                    <p-inputNumber mode="decimal" [showButtons]="true" [min]="1" formControlName="companyId">
                    </p-inputNumber>
                </div>

                <div class="col-12">
                    <label htmlFor="name">Tur Kategori Adı</label>
                    <input pInputText id="name" type="text" formControlName="name"/>
                </div>

                <div class="col-12">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" value="New York" formControlName="active" id="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
            </div>

            <div class="ui-form-footer-buttons-wrapper">
                <hr/>
                <p-toolbar styleClass="pb-0 pr-2" class="flex justify-content-end">
                    <div class="mr-2">
                        <button
                                pButton
                                [id]="'cancel'"
                                type="button"
                                label="Vazgeç"
                                class="p-button-text ml-2"
                                (click)="onCancel()"
                        ></button>
                    </div>

                    <div>
                        <button
                                pButton
                                [id]="'save'"
                                [type]="'button'"
                                label="Kaydet"
                                class="ml-2"
                                (click)="onSave()"
                        ></button>
                    </div>

                </p-toolbar>
            </div>


        </form>
    </div>
</ui-sidebar>
