<div class="grid">
    <div class="col-12">
        <p-card>

            <ng-template pTemplate="header">
                <ui-page-title title="Şirket" [pageCode]="pageCode"
                               [showBack]="false"></ui-page-title>
            </ng-template>

            <p-toolbar toolbar class="flex justify-content-end" styleClass="pr-0 pl-0 pt-0">
                <div>
                    <button [id]="'add'" pButton [label]="'Ekle'" class="mr-2" (click)="onAdd()">

                    </button>
                    <button [id]="'copy'" pButton [label]="'Kopyala'" class="mr-2 p-button-outlined" (click)="onCopy()"
                            [disabled]="!selectedItem">

                    </button>
                    <button [id]="'edit'" pButton [label]="'Düzenle'" class="mr-2 p-button-outlined" (click)="onEdit()"
                            [disabled]="!selectedItem">

                    </button>
                    <button [id]="'delete'" pButton [label]="'Sil'" class="mr-2 p-button-outlined" (click)="onDelete()"
                            [disabled]="!selectedItem">

                    </button>
                </div>
            </p-toolbar>

            <p-table
                dataKey="id"
                styleClass="p-datatable-striped"
                selectionMode="single"
                [id]="pageCode + '_list'"
                [value]="list"
                [paginator]="true"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="list?.length"
                [(selection)]="selectedItem"
                [metaKeySelection]="false"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="countryName" style="width: 15%">
                            Ülke
                            <p-sortIcon field="countryName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cityName" style="width: 15%">
                            Şehir
                            <p-sortIcon field="cityName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="districtName" style="width: 15%">
                            Bölge
                            <p-sortIcon field="districtName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="code" style="width: 10%">
                            Şirket Kodu
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name" style="width: 15%">
                            Şirket Adı
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="address" style="width: 15%">
                            Adres
                            <p-sortIcon field="address"></p-sortIcon>
                        </th>
                        <th pSortableColumn="websiteUrl" style="width: 10%">
                            Web Sitesi
                            <p-sortIcon field="websiteUrl"></p-sortIcon>
                        </th>
                        <th pSortableColumn="active" style="width: 10%">
                            Aktif
                            <p-sortIcon field="active"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td style="width: 15%">{{ item.countryName }}</td>
                        <td style="width: 15%">{{ item.cityName }}</td>
                        <td style="width: 15%">{{ item.districtName }}</td>
                        <td style="width: 10%">{{ item.code }}</td>
                        <td style="width: 15%">{{ item.name }}</td>
                        <td style="width: 15%">{{ item.address }}</td>
                        <td style="width: 10%">{{ item.websiteUrl }}</td>
                        <td style="width: 10%">
                            <ui-active-inactive-tags [tagValue]="item.active"></ui-active-inactive-tags>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="7">Kayıt Bulunamadı</td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>

<ui-sidebar [display]="formMode !== FormMode.NONE">
    <div>
        <div class="grid">
            <ui-page-title class="col" title="Şirket"></ui-page-title>
        </div>
        <form [formGroup]="form">
            <div class="p-fluid formgrid grid">

                <div class="col-12">
                    <label>Ülke</label>
                    <p-dropdown
                        [id]="'countryId'"
                        [options]="countryList"
                        [optionValue]="'id'"
                        [optionLabel]="'name'"
                        [placeholder]="'Seçiniz'"
                        (onChange)="onChangeCountry()"
                        formControlName="countryId"
                        class="form-control"
                    >
                    </p-dropdown>
                </div>

                <div class="col-12 mt-2">
                    <label>Şehir</label>
                    <p-dropdown
                        [id]="'cityId'"
                        [options]="cityList"
                        [optionValue]="'id'"
                        [optionLabel]="'name'"
                        [placeholder]="'Seçiniz'"
                        (onChange)="onChangeCity()"
                        formControlName="cityId"
                        class="form-control"
                    >
                    </p-dropdown>
                </div>

                <div class="col-12 mt-2">
                    <label>Bölge</label>
                    <p-dropdown
                        [id]="'districtId'"
                        [options]="districtList"
                        [optionValue]="'id'"
                        [optionLabel]="'name'"
                        [placeholder]="'Seçiniz'"
                        formControlName="districtId"
                        class="form-control"
                    >
                    </p-dropdown>
                </div>

                <div class="col-12 mt-2">
                    <label>Şirket Kodu</label>
                    <input pInputText id="code" type="text" formControlName="code"/>
                </div>

                <div class="col-12 mt-2">
                    <label>Şirket Adı</label>
                    <input pInputText id="name" type="text" formControlName="name"/>
                </div>

                <div class="col-12 mt-2">
                    <label>Adress</label>
                    <input pInputText id="address" type="text" formControlName="address"/>
                </div>

                <div class="col-12 mt-2">
                    <label>Web Sitesi</label>
                    <input pInputText id="websiteUrl" type="text" formControlName="websiteUrl"/>
                </div>

                <div class="col-12 mt-2">
                    <div class="field-checkbox">
                        <p-checkbox id="active" formControlName="active" binary="true" label="Aktif"></p-checkbox>
                    </div>
                </div>
            </div>

            <ui-form-footer-buttons [form]="form" [idPrefix]="pageCode" [showCancel]="true" (onCancel)="onCancel()"
                                    [showSave]="true" (onSave)="onSave()"></ui-form-footer-buttons>

        </form>
    </div>
</ui-sidebar>
