.right-element {
    padding: 10px 20px;
    position: static;
    display: flex;
    justify-content: flex-end;
}

.small-padding {
    padding: 10px 20px;
}

.ui-stick-buttonbar-wrapper {
    position: static;
    left: 1rem;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgba(#0D162A, .1);
    padding: 10px 20px;
    right: 0px;
    z-index: 1;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: flex-end;

    .left-content {
        display: flex;
        justify-content: flex-start;
        padding-left: 60px;
        width: 900px;
        float: left;
    }

    .buttonbar-content {
        display: flex;
        justify-content: flex-end;

        .center-button {
            justify-content: center;
            display: flex;
            width: 100%;
        }
    }
}

