<div class="grid grid-nogutter">
    <div class="col-12">

        <p-toolbar toolbar class="flex justify-content-end" styleClass="pr-0 pl-0 pt-0">
            <div>
                <button [id]="'add'" pButton [label]="'Ekle'" class="mr-2" (click)="onAdd()">

                </button>
                <button [id]="'copy'" pButton [label]="'Kopyala'" class="mr-2 p-button-outlined" (click)="onCopy()"
                        [disabled]="!selectedItem">

                </button>
                <button [id]="'edit'" pButton [label]="'Düzenle'" class="mr-2 p-button-outlined" (click)="onEdit()"
                        [disabled]="!selectedItem">

                </button>
                <button [id]="'delete'" pButton [label]="'Sil'" class="mr-2 p-button-outlined" (click)="onDelete()"
                        [disabled]="!selectedItem">

                </button>
            </div>
        </p-toolbar>

        <p-table
            dataKey="id"
            styleClass="p-datatable-striped"
            selectionMode="single"
            [id]="pageCode + '_list'"
            [value]="list"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="list?.length"
            [(selection)]="selectedItem"
            [metaKeySelection]="false"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%"> Gün</th>
                    <th style="width: 90%"> Açıklama</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td style="width: 10%">{{ item.dayNumber }}</td>

                    <td style="width: 90%">
                        <p-editor [style]="{'min-height':'100px'}" [(ngModel)]="item.description"
                                  [readonly]="true">
                            <ng-template pTemplate="header">
                            </ng-template>
                        </p-editor>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="2">Kayıt Bulunamadı</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>


<ui-sidebar [display]="formMode !== FormMode.NONE">
    <div>
        <div class="grid">
            <ui-page-title class="col" title="Günlük Detaylar"></ui-page-title>
        </div>

        <form [formGroup]="form" [id]="'formTourDayDescription'">
            <div class="p-fluid formgrid grid">
                <div class="col-12">
                    <label for="dayNumber">Gün</label>
                    <p-inputNumber id="dayNumber" formControlName="dayNumber" mode="decimal" [showButtons]="true"
                                   [min]="1"
                                   [max]="100">
                    </p-inputNumber>
                </div>
                <div class="col-12">
                    <label for="description">Açıklama</label>
                    <p-editor id="description" formControlName="description"
                              [style]="{ height: '150px' }"></p-editor>
                </div>
            </div>
        </form>

        <ui-form-footer-buttons [form]="form" [idPrefix]="pageCode"
                                [showCancel]="true" (onCancel)="onCancel()"
                                [showSave]="true" (onSave)="onSave()">
        </ui-form-footer-buttons>

    </div>
</ui-sidebar>

