<div class="grid">
    <div class="col-4">
        <div class="card p-fluid">
            <h5>Api Bilgileri</h5>
            <p-divider></p-divider>
            <form [formGroup]="form">
                <div class="field">
                    <label htmlFor="apiPackage">Api Paketi</label>
                    <input pInputText id="apiPackage" type="text" formControlName="apiPackage" placeholder="tripsales"/>
                </div>
                <div class="field">
                    <label htmlFor="apiName">Api Adı</label>
                    <input pInputText id="apiName" type="text" formControlName="apiName" placeholder="TripSales"/>
                </div>
                <div class="field">
                    <label htmlFor="tableName">Tablo Adı</label>
                    <input pInputText id="tableName" type="text" formControlName="tableName" placeholder="TRIP_SALES"/>
                </div>

            </form>
        </div>
    </div>

    <div class="col-8">
        <div class="card" *ngIf="formMode === FormMode.NONE">
            <h5>Alan Listesi</h5>
            <p-divider></p-divider>

            <p-toolbar styleClass="mb-1">
                <ng-template pTemplate="left">
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-raised mr-2" [label]="'Ekle'"
                            (click)="onAdd()"></button>
                    <button pButton pRipple icon="pi pi-copy" class="p-button-raised p-button-secondary mr-2"
                            [label]="'Kopyala'" [disabled]="!selectedModel"
                            (click)="onCopy()"></button>
                    <button pButton pRipple icon="pi pi-file-edit" class="p-button-raised p-button-help mr-2"
                            [label]="'Düzenle'" [disabled]="!selectedModel"
                            (click)="onUpdate()"></button>
                    <button pButton pRipple label="Sil" icon="pi pi-trash" class="p-button-danger mr-2"
                            (click)="onDelete()"
                            [disabled]="!selectedModel"></button>

                </ng-template>
            </p-toolbar>

            <p-table dataKey="uuid"
                     styleClass="p-datatable-striped"
                     selectionMode="single"
                     [value]="propertyList"
                     [(selection)]="selectedModel"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Değişken Tipi</th>
                        <th>Değişken Adı</th>
                        <th>DB Kolon Adı</th>
                        <th>Zorunlu mu?</th>
                        <th>Aranabilir mi?</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>{{ product.type }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.dbName }}</td>
                        <td>{{ product.notNull }}</td>
                        <td>{{ product.useSearchParameter }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="card"
             *ngIf="formMode !== FormMode.NONE">
            <h5>Alan Bilgileri</h5>
            <p-divider></p-divider>

            <form [formGroup]="propertyForm">
                <div class="field grid">
                    <label htmlFor="type" class="col-4">Değişken Tipi</label>
                    <div class="col-8">
                        <input pInputText id="type" type="text" formControlName="type" placeholder="Long"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="name" class="col-4">Değişken Adı</label>
                    <div class="col-8">
                        <input pInputText id="name" type="text" formControlName="name" placeholder="tripId"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="dbName" class="col-4">DB Kolon Adı</label>
                    <div class="col-8">
                        <input pInputText id="dbName" type="text" formControlName="dbName" placeholder="TRIP_ID"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="notNull" class="col-4">Zorunlu mu?</label>
                    <div class="col-8">
                        <p-checkbox formControlName="notNull" id="notNull" binary="true"></p-checkbox>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="useSearchParameter" class="col-4">Aranabilir mi?</label>
                    <div class="col-8">
                        <p-checkbox formControlName="useSearchParameter" id="useSearchParameter"
                                    binary="true"></p-checkbox>
                    </div>
                </div>
            </form>

            <div class="right-element flex flex-wrap gap-2">
                <button pButton pRipple type="button" label="Vazgeç" class="p-button-outlined p-button-secondary"
                        (click)="onBack()"></button>

                <button pButton pRipple type="button" label="Tamam" class="p-button-raised"
                        icon="pi pi-check"
                        [disabled]="propertyForm.invalid"
                        (click)="onOkay()"></button>
            </div>
        </div>
    </div>
</div>

<div class="card right-element">
    <div class="flex flex-wrap gap-2">
        <button pButton pRipple type="button" label="Temizle" class="p-button-outlined p-button-secondary"
                icon="pi pi-eraser"
                [disabled]="formMode != FormMode.NONE"
                (click)="onCancel()"></button>

        <button pButton pRipple type="button" label="Api Oluştur" class="p-button-raised p-button-success"
                icon="pi pi-check"
                [disabled]="formMode != FormMode.NONE || form.invalid"
                (click)="onGenerateApi()"></button>
    </div>
</div>
