<div class="grid" *ngIf="formMode === FormMode.NONE">
    <div class="col-12">
        <p-card>

            <ng-template pTemplate="header">
                <ui-page-title title="Turlar" [pageCode]="pageCode"
                               [showBack]="false"></ui-page-title>
            </ng-template>

            <p-toolbar toolbar class="flex justify-content-end" styleClass="pr-0 pl-0 pt-0">
                <div>
                    <button [id]="'add'" pButton [label]="'Ekle'" class="mr-2" (click)="onAdd()">

                    </button>
                    <button [id]="'copy'" pButton [label]="'Kopyala'" class="mr-2 p-button-outlined" (click)="onCopy()"
                            [disabled]="!selectedModel">

                    </button>
                    <button [id]="'edit'" pButton [label]="'Düzenle'" class="mr-2 p-button-outlined" (click)="onEdit()"
                            [disabled]="!selectedModel">

                    </button>
                    <button [id]="'delete'" pButton [label]="'Sil'" class="mr-2 p-button-outlined" (click)="onDelete()"
                            [disabled]="!selectedModel">

                    </button>
                </div>
            </p-toolbar>

            <p-table
                dataKey="id"
                styleClass="p-datatable-striped"
                selectionMode="single"
                [id]="pageCode + '_list'"
                [value]="list"
                [paginator]="true"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [totalRecords]="list?.length"
                [(selection)]="selectedModel"
                (onRowUnselect)="onRowUnselect()"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="premierContentUrl" style="width: 20%">
                            Vitrin İçerik Url
                            <p-sortIcon field="premierContentUrl"></p-sortIcon>
                        </th>
                        <th pSortableColumn="code" style="width: 10%">
                            Kodu
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name" style="width: 15%">
                            Adı
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="companyCode" style="width: 15%">
                            Şirket
                            <p-sortIcon field="companyCode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tourTypeCode" style="width: 10%">
                            Tur Tipi
                            <p-sortIcon field="tourTypeCode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tourCategoryCode" style="width: 10%">
                            Kategori
                            <p-sortIcon field="tourCategoryCode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="day" style="width: 10%">
                            Gün
                            <p-sortIcon field="day"></p-sortIcon>
                        </th>
                        <th pSortableColumn="active" style="width: 10%">
                            Aktif
                            <p-sortIcon field="active"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td style="width: 20%; min-width: 5rem;">
                            <img src="{{item.premierContentUrl}}" class="shadow-4" width="100">
                        </td>
                        <td style="width: 10%">{{ item.code }}</td>
                        <td style="width: 15%">{{ item.name }}</td>
                        <td style="width: 15%">{{ item.companyName }}</td>
                        <td style="width: 10%">{{ item.tourTypeName }}</td>
                        <td style="width: 10%">{{ item.tourCategoryName }}</td>
                        <td style="width: 10%">{{ item.day }}</td>
                        <td style="width: 10%">
                            <ui-active-inactive-tags [tagValue]="item.active"></ui-active-inactive-tags>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="8">Kayıt Bulunamadı</td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>
    </div>
</div>

<div *ngIf="formMode !== FormMode.NONE">
    <p-card>
        <ui-page-header title="Tur" [pageCode]="pageCode" [showBack]="true" (onBack)="onBack()"></ui-page-header>

        <app-tour-form [tour]="selectedModel" (eventSave)="eventSave()" (eventCancel)="onBack()"></app-tour-form>
    </p-card>
</div>
